{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"consistent-return": [1],
		"func-style": [0],
		"global-require": [1],
		"max-nested-callbacks": [2, 4],
		"max-params": [2, 4],
		"max-statements": [2, 14],
		"new-cap": [2, { "capIsNewExceptions": ["Range"] }],
		"no-console": [0],
		"no-process-exit": [1],
		"no-use-before-define": [1]
	}
}
